name: My First GitHub Actions

on: [push]

jobs:
  build:
    runs-on: self-hosted

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Verify files
      run: |
        pwd
        ls -R

    - name: Check Python version
      run: python3 --version

    - name: Install dependencies
      run: |
        python3 -m ensurepip --upgrade
        python3 -m pip install --upgrade pip
        pip3 install pytest

    - name: Run tests
      working-directory: src
      run: pytest addition.py
