name: My First GitHub Actions

on: [push]

jobs:
  build:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v3

    - name: Check Python version
      run: python3 --version

    - name: Install dependencies
      run: |
        python3 -m ensurepip --upgrade
        python3 -m pip install --upgrade pip
        pip3 install pytest

    - name: Run tests
      working-directory: src
      run: pytest addition.py
